In [17]:
#import dependencies
import pandas as pd
from pathlib import Path
from sklearn import linear_model

In [18]:
#read in preprocessed data
df = pd.read_csv(Path('Resources/homeless_edu.csv'))
df.head()

,State_Year,Year,State,TOTAL_REVENUE,TOTAL_EXPENDITURE,GRADES_9_12_G,GRADES_ALL_G,Count
0,2007_AK,2007,AK,1800616.0,1938755.0,42049.0,131029.0,7124
1,2007_AL,2007,AL,7069040.0,7196459.0,216941.0,742919.0,23794
2,2007_AR,2007,AR,4415981.0,4779308.0,138921.0,479016.0,17048
3,2007_AZ,2007,AZ,8724434.0,8709531.0,316376.0,1087447.0,64192
4,2007_CA,2007,CA,72516936.0,73225422.0,2011865.0,6343471.0,636626

In [19]:
#get independent and dependent features
df.dtypes

State_Year            object
Year                   int64
State                 object
TOTAL_REVENUE        float64
TOTAL_EXPENDITURE    float64
GRADES_9_12_G        float64
GRADES_ALL_G         float64
Count                  int64
dtype: object