In [57]:
#import dependencies
import pandas as pd
from pathlib import Path
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [45]:
#read in preprocessed data
df = pd.read_csv(Path('Resources/homeless_edu.csv'))
df.head()

,Year,TOTAL_REVENUE,TOTAL_EXPENDITURE,GRADES_9_12_G,GRADES_ALL_G,Sheltered_Cnt,Unsheltered_Cnt,Other_Cnt,State_AK,State_AL,...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
0,2007,1800616,1938755,42049,131029,2995,567,3562,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2007,7069040,7196459,216941,742919,8075,3822,11897,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2007,4415981,4779308,138921,479016,4979,3545,8524,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2007,8724434,8709531,316376,1087447,17886,14210,32096,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2007,72516936,73225422,2011865,6343471,102972,215341,318313,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
#create features 
X = df.drop(columns=['Sheltered_Cnt','Unsheltered_Cnt','Other_Cnt'])
y = df[['Sheltered_Cnt','Unsheltered_Cnt','Other_Cnt']]

In [47]:
#split in training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [48]:
#create encoder instance
scaler = StandardScaler()

In [49]:
#fit the scaler
X_scaler = scaler.fit(X_train)

In [50]:
#transform data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [51]:
#instantiate model
model = linear_model.LinearRegression()

In [52]:
#fit model
model.fit(X_train_scaled,y_train)

LinearRegression()

In [53]:
#generate predictions
y_pred = model.predict(X_test_scaled)

In [58]:
#get r2 value to determine if model is good fit
metrics.r2_score(y_test, y_pred)

0.9780671302441308