In [60]:
#import dependencies
import pandas as pd
from pathlib import Path
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [49]:
#read in preprocessed data
df = pd.read_csv(Path('Resources/homeless_edu.csv'))
df.head()

,Year,TOTAL_REVENUE,TOTAL_EXPENDITURE,GRADES_9_12_G,GRADES_ALL_G,Count,State_AK,State_AL,State_AR,State_AZ,...,State_SC,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WY
0,2007,18006.16,19387.55,420.49,1310.29,7124,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2007,70690.40,71964.59,2169.41,7429.19,23794,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2007,44159.81,47793.08,1389.21,4790.16,17048,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2007,87244.34,87095.31,3163.76,10874.47,64192,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2007,725169.36,732254.22,20118.65,63434.71,636626,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
#create encoder instance
#scaler = StandardScaler()

In [51]:
#fit the scaler
#scaler.fit(df)

In [52]:
#transform data
#df_scaled = scaler.transform(df)
#df_scaled[:1]

In [53]:
#create features 
X = df.drop(columns='Count')
y = df['Count']

In [54]:
#split in training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [56]:
#instantiate model
model = linear_model.LinearRegression()

In [57]:
#fit model
model.fit(X,y)

LinearRegression()

In [58]:
#generate predictions
y_pred = model.predict(X)